.insurerheade-text{
  font-size: 24px;
}
.inline-link{
  width: 54px;
  height: 21px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4990e2;
}
.fontweight{
  font-weight: 800;
}
.text-right{
  text-align: right;
}
.HeaderBoxClaim{
  .icon{
    color: aliceblue;
  }
}
.boxDetail{
    height: 84px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #cecece;
    margin:  8px 0px;
    padding: 3.2% 0%;
    position: relative;
    overflow: hidden;
  }
.company-heder-info span{
  padding-left: 70px;
}
.ClaimIndex{
  .filter-claim{
    padding-top: 20px;
  }
  span.external{
    margin:5px;
  }
}
.ClaimDetail{
  .left-box-detail{
    padding: 30px 50px 0px 50px;
  }
  .btn-box-detail{
    margin: 0;
    height: 25px;
    width: 130px;
    float: right;
  }
  .ui.divider {
  color: #bcbcbc;
}
}
.HeaderCompanyInfo{
  .gfnmYo{
     width: 80%;
  }
}
.ClaimList{
  .text-main{
    position: relative;
    margin: 10px;
    height: 80px;
  }
  .text-main::before,
  .text-main::after{
    display: table;
    content: "";
  }
  .text-main::after{
    clear: both;
  }
  .insurertext1{
    float: left;
  }
  .insurertext2{
    float: left;
    margin-left: 10px;
    font-size: 14px;
  }
  .insurertext2 span{
    font-size: 24px;
    font-weight: 500;
    margin-top:10px;
    color: #505050;
  }
  .insurertext3{
    float: right;
    width: 54px;
    height: 50px;
    border-radius: 6px;
    background-color: #3a7bd5;
    border: solid 1px #d3d3d3;
  }
  .insurertext3 input {
    background:url('../../../assets/Insurer/icon-chat.png');
    background-repeat: no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    clear: both;
    margin: 14px;
  }
  .insurertext4 {
    font-weight: 600;
    text-align: center;
    border-top: solid 1px #c4c4c4;
    color: #3a7bd5;
  }
  .status-text{
    margin-top: 3px ;
  }
  .status-text span {
    width: 30px;
    height: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: #f7555f;
    font-size: 13px;
    color: #ffffff;
  }
}
