.insurerheade-text{
  font-size: 24px;
}
.HeaderBoxClaim{
  .icon{
    color: aliceblue;
  }
}
.company-heder-info span{
  padding-left: 70px;
}
.ClaimDetail{
  .filter-claim{
    padding-top: 20px;
  }
  span.external{
    margin:5px;
  }
}
.HeaderCompanyInfo{
  .gfnmYo{
     width: 80%;
  }
}
.ClaimList{
  .text-main{
    position: relative;
    margin: 10px;
    height: 80px;
  }
  .text-main::before,
  .text-main::after{
    display: table;
    content: "";
  }
  .text-main::after{
    clear: both;
  }
  .insurertext1{
    float: left;
  }
  .insurertext2{
    float: left;
    margin-left: 10px;
    font-size: 14px;
  }
  .insurertext2 span{
    font-size: 24px;
    font-weight: 500;
    margin-top:10px;
    color: #505050;
  }
  .insurertext3{
    float: right;
    width: 54px;
    height: 50px;
    border-radius: 6px;
    background-color: #3a7bd5;
    border: solid 1px #d3d3d3;
  }
  .insurertext3 input {
    background:url('../../../assets/Insurer/icon-chat.png');
    background-repeat: no-repeat;
    cursor:pointer;
    width: 24px;
    height: 24px;
    border: none;
    clear: both;
    margin: 14px;
  }
  .insurertext4 {
    font-weight: 600;
    text-align: center;
    border-top: solid 1px #c4c4c4;
    color: #3a7bd5;
  }
  .status-text{
    margin-top: 3px ;
  }
  .status-text span {
    width: 30px;
    height: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: #f7555f;
    font-size: 13px;
    color: #ffffff;
  }
}
