
.AddBenefit{
    .imagehealth{
        background-image: url('../../assets/AddBenefit/artboards-1.png');
        background-repeat: no-repeat;
        height: 160px;
        border-bottom: solid 1px #979797;
    }
    .imageExpense{
        background-image: url('../../assets/AddBenefit/artboards-2.png');
        background-repeat: no-repeat;
        height: 160px;
        border-bottom: solid 1px #979797;
    }
    .BoxLine{
        border-bottom: solid 1px #d5d5d5;
    }
}