.Bidding{
    .HeadBidContent{
        margin-bottom: 10px;
    }
    .NavBid{
    margin-bottom: 30px;
    }
    .boxDetail{
        height: 84px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
        border: solid 1px #cecece;
        margin:  8px 0px;
        padding: 3.2% 0%;
        position: relative;
        overflow: hidden;
    
        .boxCancel::before{
            content: "";
            width: 17px;
            background:#f7555f;
            position: absolute;
            height: 100%;
            top: 0;
        }
        .boxCancelTimeout::before{
            content: "";
            width: 17px;
            background: #9b9b9b;
            position: absolute;
            height: 100%;
            top: 0;
        }
         .boxes::before{
            content: "";
            width: 17px;
            background: #29C393;
            position: absolute;
            height: 100%;
            top: 0;
        }
        .wait::before{
            content: "";
            width: 17px;
            background:#3a7bd5;
            position: absolute;
            height: 100%;
            top: 0;
        }
    }
   
   

}