.chart-main-box{
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(124, 123, 123, 0.5);
}

.chart-head-box{
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(151, 151, 151, 0.22);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #4a4a4a;
  padding-top: 2.5%;
   padding-left: 5%;
}

.chart-data-box{
  padding-left: 10%;
  padding-top: 4%;
}

.chart-pie-box{
  padding-left: 25%;
  padding-top: 12%;
}

.table-chart-box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.08);
  margin-top: 3%;
  padding-top: 6.5%;
  padding-bottom: 6.5%;
}

.chart-head-text{
   font-size: 20px;
}

.chart-radial-sum{
  font-size: 32px;
  margin-bottom: 0px;
}

.chart-radial-text{
  margin-left: 30%;
}

.send-request-button{
  width: 164px;
  height: 40px;
  border-radius: 20px;
  background-color: #46b3b8;
  border-color: #46b3b8;
  border-style: solid;
  color: white;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-align: center;
  float: right;
  margin-top: 5%;
  margin-bottom: 5%;
}

