.chart-main-box{
  position: relative;
  height: 260px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(124, 123, 123, 0.5);
  .recharts-wrapper{
    position: absolute !important;
    width:100% !important;
  }
}
.chart-text-style{
  position: absolute;
  left: 97px;
  top: 110px;
}
.tag-color-chart {
  margin-left: 0px;
  font-size: 11px;
}
.chart-head-box{
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #4a4a4a;
  padding-top: 16px;
  padding-left: 16px;
}
.chart-list {
  margin-top: 40px;
  margin-left: 10px;
}
.chart-data-box{
  padding-left: 10%;
  padding-top: 4%;
}

.chart-pie-box{
  padding-left: 25%;
  padding-top: 12%;
}

.table-chart-box{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.08);
  margin-top: 3%;
  padding-top: 6.5%;
  padding-bottom: 6.5%;
}

.chart-head-text{
   font-size: 20px;
}

.chart-radial-sum{
  font-size: 15px;
  margin-bottom: 0px;
}

.chart-radial-text{
  margin-left: 30%;
}

.send-request-button{
  width: 164px;
  height: 40px;
  border-radius: 20px;
  background-color: #46b3b8;
  border-color: #46b3b8;
  border-style: solid;
  color: white;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-align: center;
  float: right;
  margin-top: 5%;
  margin-bottom: 5%;
}
.recharts-wrapper{
  width:100% !important;
}
.recharts-surface{
  width:100% !important;
}
