.ComparePlan {
  .CompareHead {
    table {
        width: 100%;
        height: 60px;
        background-color: #dce4f3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    th {
        height: 100%;
    }
    tr {
        height: 100%;
    }
    th:nth-child(n) {
      max-width: 1px;
      border-left: 1px solid #979797;
    }
    th:nth-child(1) {
      max-width: 390px;
      width: 42.5%;
      border-left: 0px solid #979797;
    }
    td {
      border: 1px solid black;
      height: 50px;
    }
  }

  .CompareLife{
    table {
      width: 100%;
      background-color: #ffffff;
    }
    th {
      color: #323028;
      font-size: 1.1vw;
      @media screen and (min-width: 1440px) {
        height: 60px;
        line-height: 60px;
        font-size: 15px;
      }
    }
    // tr {
    //   height: 100%;
    // }
    td {
      border: 1px solid black;
    }
    th:nth-child(n) {
      max-width: 1px;
      border: 1px solid #9b9b9b;
    }
    th:nth-child(1) {
      max-width: 390px;
      width: 42.5%;
      border: 1px solid #9b9b9b;
      // display: unset;
    }
  }

  .CompareIPD {
    table {
      width: 100%;
      background-color: #ffffff;
    }
    th {
      position: relative;
      height: 100%;
      padding: 0.5vw;
      border-left: 1px solid #9b9b9b;
      border-right: 1px solid #9b9b9b;
      font-size: 1vw;
      @media screen and (min-width: 1440px) {
        font-size: 14px;
        padding: 7px;
      }
      // border-bottom: 1px solid #9b9b9b;
    }
    tr {
      border-bottom: 1px solid #9b9b9b;
    }
    td {
      border: 1px solid black;
    }
    th:nth-child(n) {
      max-width: 0px;

    }
    th:nth-child(1) {
      max-width: 390px;
      width: 42.5%;
      text-align: left;
    }
  }

  .CompareIPDWithDrop{
    table {
        width: 100%;
        background-color: #ffffff;
    }
    th {
      position: relative;
      height: 100%;
      padding: 0.5vw;
      border-left: 1px solid #9b9b9b;
      border-right: 1px solid #9b9b9b;
      @media screen and (min-width: 1440px) {
        padding: 7px;
      }
    }
    tr {
        height: 100%;
    }
    td {
      border: 1px solid black;
    }
    th:nth-child(n) {
      max-width: 0px;

    }
    th:nth-child(1) {
      max-width: 390px;
      width: 42.5%;
      text-align: left;
    }
  }

  .SubCompareIPD {
    table {
      width: 100%;
      background-color: #ffffff;
      // border-bottom: 0px solid #9b9b9b;
      // border-left: 1px solid #9b9b9b;
      // border-right: 1px solid #9b9b9b;
    }
    th {
      position: relative;
      padding: 0.5vw;
      @media screen and (min-width: 1440px) {
        padding: 7px;
      }
      // border-left: 1px solid #9b9b9b;
      // border-right: 1px solid #9b9b9b;
      // border-bottom: 0px solid #9b9b9b;
    }
    // tr {
    //     height: 100%;
    // }
    // td {
    //   border: 1px solid black;
    // }
    th:nth-child(n) {
      max-width: 0px;
    }
    th:nth-child(1) {
      max-width: 390px;
      width: 42.5%;
      text-align: left;
    }
  }
  .menu-header {
    display: block;
    font-family: Kanit;
    font-size: 1.6vw;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #323028;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
  .menu-header-color-gray {
    color: #bfbfbf;
  }
  .menu-text {
    font-family: Kanit;
    font-size: 1.1vw;
    letter-spacing: 0.2px;
    text-align: left;
    color: #9b9b9b;
    @media screen and (min-width: 1440px) {
      font-size: 16px;
    }
  }
  .header-box-l {
    width: 50%;
    text-align: left;
    display: inline-block;
  }
  .header-box-r {
    width: 50%;
    text-align: right;
    display: inline-block;
  }
  .compare-grap-top-menu {
    margin-top: 1.7vw;
    @media screen and (min-width: 1440px) {
      margin-top: 25px;
    }
  }
  .compare-plan-name {
    color: #323028;
    font-size: 1.1vw;
    @media screen and (min-width: 1440px) {
      height: 60px;
      line-height: 60px;
      font-size: 15px;
    }
  }
  .compare-img-title {
    width: 5.2vw;
    height: 5.2vw;
    margin: 1vw 0;
    display: inline-block;
    vertical-align: middle;
    @media screen and (min-width: 1440px) {
      width: 75px;
      height: 75px;
      margin: 14px 0;
    }
  }
  .compare-title-box-l {
    display: inline-block;
    width: 30%;
    text-align: center;
  }
  .compare-title-box-r {
    display: inline-flex;
    width: 70%;
    text-align: left;
    vertical-align: middle;
    position: relative;
  }
  .compare-note-grap-head {
    margin-top: 2.3vw;
    @media screen and (min-width: 1440px) {
      margin-top: 34px;
    }
  }
  .compare-rm-border-bt {
    border-bottom: none !important;
  }
  .compare-rm-border-r {
    border-right: none !important;
  }
  .compare-rm-border-l {
    border-left: none !important;
  }
  .compare-txt-description {
    font-size: 1vw;
    font-weight: normal;
    text-align: left;
    display: inline-block;
    max-width: 95%;
    margin: 0.7vw 0px;
    vertical-align: middle;
    @media screen and (min-width: 1440px) {
      font-size: 14px;
    }
  }
}
