.employee-list-head{
  font-size: 32px;
  text-align: left;
  color: #505050;
}

.employee-list-options{
  padding-top: 5%;
}

.search-list-button{
  height: 38px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}

.add-employee-button{
  width: 189.9px;
  height: 40px;
  border-radius: 20px;
  background-color: #3a7bd5;
  border-color: #3a7bd5;
  border-style: solid;
  float: right;
  color: white;
}

.list-employee-box{
  margin-top: 2.5%;
  margin-bottom: 3%;
}

.list-header{
  color: #a9a9a9;
  margin-bottom: 1.5%;
}

.employee-list-box{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(29, 29, 36, 0.08);
  padding-top: 2%;
  padding-bottom: 1%;
  margin-bottom: 1.5%;
}

.list-change-level{
  margin-bottom: 5%;
  float: right;
}

.list-change-level-box{
  display: inline-block;
  background-color: white;
  height: 30px;
  width: 30px;
  padding-left: 2%;
  padding-top: 3%;
  cursor:pointer;
}

.list-change-level-box-number{
  display: inline-block;
  background-color: #34495e;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 14px;
  padding-left: 10%;
  padding-top: 3%;
}

.list-box-in-list{
  padding-left: 5%;
}

.list-box-in-list-first{
  padding-left: 12%;
}

.edit-employee-list{
  display: inline-block;
  background-color: white;
  border: solid 1px #d7d7d7;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  cursor:pointer;
}

.bin-employee-list{
  display: inline-block;
  background-color: #e74c3c;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  padding-left: 1%;
  cursor:pointer;
  color: white;
}

.profile-employee-box{
  background-color: #27ae60;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  color: white;
  text-align: center;
}
