.caret.down.icon.navbar-header-icon {
  width: 9px;
  height: 6px;
  color: #ffffff;
  margin-left: 9px;
  margin-right: 21px;
  position: absolute;
  right: 10%;
  top: 25px;
}
.navbar-header-menu-text {
  margin-left: 7px;
  line-height: 21px;
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #4a4a4a;
}
.navbar-header-menu-box {
  line-height: 30px;
}