.caret.down.icon.navbar-header-icon {
  width: 9px;
  height: 6px;
  color: #ffffff;
  margin-left: 9px;
  margin-right: 21px;
  position: absolute;
  right: 10%;
  top: 25px;
}
.navbar-header-menu-text {
  margin-left: 7px;
  line-height: 21px;
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #4a4a4a;
}
.navbar-header-menu-box {
  line-height: 30px;
}
.nav-header-box {
  display: flex;
  width: 100%;
  padding-left: 29px;
  padding-right: 29px;
}
.nav-header-box-l {
  display: inline-block;
  width: 50%;
}
.nav-header-img-logo-bt {
  height: 36px;
  position: absolute;
  top: calc(50% - 18px);
}
.menu-active {
  @media screen and (max-width: 1328px) {
    margin-left: 55px;
  }
}
.nav-header-box-r {
  display: inline-block;
  width: 50%;
  text-align: right;
  padding-right: 50px;
  color: white;
  line-height: 65px;
}
.nav-header-img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 25px);
  right: 29px;
  display: inline-block;
}
.caret.down.icon.nav-header-icon-dropdown {
  margin-left: 21px;
  margin-right: 21px;
}
.ui.bottom.center.popup.transition.visible.nav-header-menu-dropdown {
  top: 35px !important;
  position: fixed !important;
}
.nav-header-icon-menu {
  @media screen and (min-width: 1329px) {
    display: none;
  }
  top: calc(50% - 20px);
  position: absolute;
  width: 40px;
  
}