.logostyle {
    margin-top: 12%;
    max-width: 40%;
}
.inbox{
    margin: 7% 18% 18% 17%;
    box-shadow:0 1px 7px 2px rgba(0, 0, 0, 0.08);
    padding-right: 1%;
    padding-left: 1%;
}

.gift{
    margin-top: 45%;
    margin-left: 3%;
}

.line0{
    margin: 5% 0 5%  0;
    border-color:blue;
    width: 315px;
}

.line2{
    margin: 5% 0 5%  0;
    width: 315px;
}


.link{
    float: right;
    margin-right:10%;
}

.loginButton{
    margin-top: 10%;
    text-align: center;
    width: 315px;
    background-color: #3A7BD5;
    color: white;
}

.signupButton{
    margin-top: 5%;
    text-align: center;
    width: 315px;
    font-size: 11.4px;
    background-color:#F7555F;
    color: white;
}

.question{
    text-align: center;
}



