@import 'simple-requirement';
@import './vendor/foundation/_setting.scss';
@import 'setting-style';
@import 'nav-insure';
@import 'choose-insurer';
@import 'view-all-plan';
@import './sidebar.scss';
@import './bidding.scss';
@import './compare-plan.scss';
@import './choose-insurance.scss';
@import 'bidding';
@import 'compare-plan';
@import 'add-benefit';
@import 'setting-benefit';
@import 'modal-plan-table.scss';
@import 'select-real-time';
@import '../../node_modules/react-vis/dist/style';
@import "../../node_modules/react-vis/dist/styles/legends";
@font-face {
  font-family: 'kanit';
  font-weight: 400;
  unicode-range: U+0E00-U+0E7F;
  src: url('../fonts/Kanit/Kanit-Regular.ttf');
}

body {
  font-family: 'Kanit' !important;
  h2 {
    font-family: 'Kanit';
  }
  background: #F1F1F1;

  .toggle {
    .ui.toggle.checkbox input:checked ~ .box:before,
    .ui.toggle.checkbox input:checked ~ label:before {
      background-color: #4db698 !important;
    }
  }

  button {
    outline: none;
    font-family: Kanit;
    cursor: pointer;
  }

  input {
    font-family: Kanit;
  }

  table {
    border-collapse: collapse;
  }

  .ui.button {
    font-family: Kanit;
    font-weight: 100;
  }
}

.clearfix::after,
.clearfix::before {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
