@import './simpleRQ';
@import './vendor/foundation/_setting.scss';


@font-face {
    font-family: 'kanit';
    font-weight: 400;
    unicode-range: U+0E00-U+0E7F;
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
    h2 {
    font-family: 'Kanit';
    }

}