@import './simpleRQ';
@import './vendor/foundation/_setting.scss';
@import './settingStyle.scss';
@import './Navinsure.scss';
@import './ChooseInsurer.scss';
@import './ViewAllPlan.scss';
@import './sidebar.scss';


@font-face {
    font-family: 'kanit';
    font-weight: 400;
    unicode-range: U+0E00-U+0E7F;
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
    h2 {
    font-family: 'Kanit';
    }
    background: #F1F1F1;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

