.icon-home{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/home-000000-32.png')0 0;
    background-repeat: no-repeat;
}
.icon-home active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/home-000000-32.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-conference{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-conference.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-conference active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-conference-blue.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-purchase{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-purchase-order.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-purchase active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-purchase-order.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-overview{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-overview-pages-3.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-overview active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-overview-blue.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-sell{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-sell.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-sell active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-sell.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-services{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-services.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-services active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-services.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-administrator{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-administrator.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-administrator active{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-administrator-blue.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-cancel{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/redcancel@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-checked{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/greenchecked@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-empPlus{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/group-copy@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-empDelete{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/group-copy-3@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-city{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-city@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
.icon-quality{
    left: 0px;
    width: 22px;
    height: 22px;
    background: url('../../assets/Insurer/icons-8-good-quality@2x.png')0 0;
    background-repeat: no-repeat;
    margin: 3px;
}
