.NavInsure{
    margin-bottom: 30px;
    .steps{
        height: 60px;
    }
    .steps > .step{
        padding: 8px;
        width: 16.666667%;
    }
    .steps > .step::before{

    }
    .steps > .step.active{
        padding-left: 8px;
        background-color:#3a7bd5;
    }
    .ui.ordered.steps .step.completed:before, .ui.steps .step.completed > .icon:before{
        color: #6c6c6c;
        font-size: 20px;
    }
    .ui.ordered.steps .step.completed:before, .ui.steps .step.completed{
        background-color: #f5f5f5;
    }
    .ui.ordered.steps .step.active:before, .ui.steps .active.step .icon{
        color:white;
    }
    .ui.steps .step.completed:after{
        visibility: hidden;
    }
    .steps > .step .content {
        line-height: 1.4;
    }
    .steps > .step .content .description{
        font-size: 20px;
        // margin-top: 20px;
        word-wrap: break-word;
    }
    .NavBenefit {
        .steps > .step .content .description{
            font-size: 16px;
            // margin-top: 20px;
            word-wrap: break-word;
        }
    }
    .steps > .step.active .content .description{
        color: white;
    }
    .ui.steps .step .description{

    }
    .ui.steps .step.active:after{
        background-color:#3a7bd5;
    }
    .ui.ordered.steps .step:before{
        font-size: 20px !important;
        margin-right: 7px;
    }

}

