.relative-box{
  position: relative;
}

.fixed-box{
  position: fixed;
}
.send-req-box-flex {
  display: flex;
}
.send-req-grap-top {
  margin-top: 2.1vw;
  margin-bottom: 1.1vw;
  @media screen and (min-width: 1440px) {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}
.send-req-box-50 {
  display: inline-block;
  width: 50%;
}
.send-req-r {
  text-align: right;
}
.send-req-img-upload {
  height: 3.5vw;
  @media screen and (min-width: 1440px) {
    height: 50px;
  }
}
.send-req-img-upload-box {
  text-align: center;
  margin-top: 1vw;
  @media screen and (min-width: 1440px) {
    margin-top: 14px;
  }
}
.send-req-file-name {
  text-align: center;
  word-wrap: break-word;
  font-size: 1vw;
  margin-bottom: 1vw;
  @media screen and (min-width: 1440px) {
    font-size: 14px;
    margin-bottom: 14px;
  }
}
.ui.modal.transition.visible.active.send-req-modal-confirm-box {
  background: transparent;
  box-shadow: none;
}
.send-req-btn-box-modal {
  margin-top: 10px;
  text-align: center;
  display: flex;
}
.send-req-btn-box-l {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding-left: 10%;
  
}
.send-req-btn-box-r {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-right: 10%;
  
}