.sidebar{
  min-height: 100%;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  background: #fff;
  display: block;
  box-shadow: 2px 0 40px 0 rgba(0, 0, 0, 0.08);
  color: #6c6c6c;

}
.ui.items.sidebarstyle{
  font-size: 110%;
  padding-top: 10px;
  margin: 33px;
  cursor: pointer;

}
