
.box{
    margin: 7% 0px 0px 0px;
    text-align:center;
}

.boxForm{
    box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.08);
    margin-left: 13%;
    margin-top: 5%;
    width: 943px;
    height: 530px;
}

.header{
    margin: 0px 0px 5% 4%;
    padding-top: 8%;
}

.boxCenter{
    background-image:url("../components/image/cityscape2.png");
    width:943px;
    height:385px;
    text-align:center;
}

.formUser{
    width: 325px;
    background-image:url("../components/image/icons8-user.png");
    background-size:32px,32px;
    background-repeat:no-repeat;
    padding-left:35px;
}
