.signupStyle{
  .box{
      margin: 7% 0px 0px 0px;
      text-align:center;
  }

  .boxForm{
      box-shadow: 0 1px 7px 2px rgba(0, 0, 0, 0.08);
      margin-top: 5%;
      background-color: #ffffff;
      margin-bottom: 14%;
  }

  .header{
      margin: 0px 0px 5% 4%;
      padding-top: 8%;
  }

  .boxCenter{
      background-image:url("../components/image/cityscape2.png");
      width:943px;
      height:385px;
      text-align:center;
  }

  .formUser{
      width: 325px;
      background-image:url("../components/image/icons8-user.png");
      background-size:32px,32px;
      background-repeat:no-repeat;
      padding-left:35px;
  }

  .signUpButton{
      width: 90%;
      height: 40px;
      border-radius: 20px;
      background-color: #3a7bd5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      border-color: #3a7bd5;
      border-style: solid;
      color: #ffffff;
      margin-top: 5%;
  }

  .iconUser{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 24px;
    opacity: 0.5;
  }

  .iconPassword{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 24px;
    opacity: 0.5;
  }

  .divInput{
    position: relative;
  }

  .ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
    padding-left: 11%;
  }

  .ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
    width: 90%;
  }
}
