.ui.page.modals.dimmer.transition.visible {
  overflow-y: scroll;
}

.SubmitPlan{

  .fillBox1{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.66);
    margin-bottom: 3%;
    margin-top: 15.5%;

  }

   .fillBox2{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.66);
  }

  .big-box{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    padding-top: 5%;
    margin-top: 3.5%;
  }

  .submit{
      width: 163px;
      height: 40px;
      border-radius: 20px;
      background-color: #3a7bd5;
      float: right;
      text-align: center;
      margin-top: 2%;
      margin-right: 2%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      color: #ffffff;

  }

  .head{
    font-family: Kanit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #323028;
  }



  .line1 {
    width: 692px;
    height: 3px;
    border: solid 1px rgba(155, 155, 155, 0.31);
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
  }


  .selectBox{
    display: inline-flex;
    width: 180.9px;
    height: 65px;
    background-color: #ffffff;
  }

  .selectBox1{
    display: -webkit-inline-box;
    width: 180.9px;
    height: 65px;
    background-color: #ffffff;
    vertical-align: middle;

  }


  .normalBox {
    display: inline-flex;
    width: 180.9px;
    height: 65px;
    background-color: #f6f6f6;

  }



  .slectText{
    font-family: Kanit;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #323028;
  }

  .paragraph{
    margin-left: 3%;
    margin-right: 3%;
  }

  .paragraph1{
    margin-left: 2%;
  }

  .copayParagraph{
  padding-left: 4%;
  }

  .headLogo{
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
  }

  .headBox{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #5c6879;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .text-menu-active{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3a7bd5;
  }

  .text-menu-record{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: left;
    color: #27a97d;
  }

  .text-menu{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: left;
    color: #9b9b9b;;
  }

  .x-tab {
    float: left;
    padding: 20px 30px;

    > img {
      max-height: 17.5px;
      max-width: 17.5px;
    }

    > * {
      vertical-align: middle;
    }
    cursor:pointer
  }

  .x-tab-active{
    float: left;
    padding: 20px 30px;
    > img {
      max-height: 17.5px;
      max-width: 17.5px;
    }

    > * {
      vertical-align: middle;
    }
    border-bottom-width:4px;
    border-bottom-color: #3a7bd5;
    border-bottom-style: solid;
    width: 100%;
    cursor:pointer
  }

  .paragraph-step1{
    padding-top: 20%;
    font-size: 13px;
  }

  .image-erase{
    max-height: 18px;
    max-width: 18px;
    margin-right: 5px;
  }

  .box-in-head-box{
    display: initial;
    float: right;
    cursor:pointer
  }

  .box-border{
    border-width: 2px;
    border-bottom-width:4px;
    border-bottom-color:black;
    border-bottom-style: solid;
  }

  .menu-header{
    font-family: Kanit;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #323028;
  }

  .menu-box{
    margin-bottom: 30%;

  }

  .imageMenu{
    margin-right: 2.8px;
  }

  .menu-text{
    font-family: Kanit;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #9b9b9b;
  }

  .menu-bar{
    margin-top: 5%;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #f6f7f9;
    border: solid 1px #c1c1c1;
  }

  .menu-add-plan{
    width: 100%;
    padding: 20px 30px;
    position: relative;
    background-color: #ffffff;
    background-color: var(--white-two);
    border: solid 1px #c1c1c1;
  }

  .menu-select-plan{
    width: 100%;
    position: relative;
    padding: 20px 20px;
    background-color: #ffffff;
    background-color: var(--white-two);
    border: solid 1px #c1c1c1;
  }

  .header-modal{
    font-family: Kanit;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
  }

  .text-modal{
    font-family: Kanit;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
  }

  .start-box{
    width: 100%;
    height: 219px;
    border-radius: 5px;
    background-color: #ffffff;
    background-color: var(--white-two);
    border: solid 1px rgba(151, 151, 151, 0.66);
    margin-bottom: 15%;
    padding-left: 35%;
    padding-top: 10%;
  }

  .p-in-modal{
    color: black;
  }

  .set-padding{
    padding-left: 32px;
    padding-right: 32px;
  }

  .menu-compare-plan{
    width: 100%;
    height: 50px;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #3a7bd5;
    text-align: center;
    padding-top: 6%;
    cursor: pointer;
  }

  .ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
     padding-left: 5%;
}

  font-size: 13px;
    .ui.form {
      font-size: 13px;
    }
    .ui.checkbox label {
      font-size: 13px;
    }


  .ipd3{
    font-size: 11.5px;
    padding-left: 3px;
    padding-right: 3px;
   .SubmitPlan.ui.checkbox.label {
      font-size: 11.5px;
    }
    .ui.form .inline.fields .field {
      padding-right: 8px;
    }
  }


}
