.ViewAllPlan{
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  th {
    height: 50px;
    text-align: center;
    padding: 8px;
    border: solid 1px #ffffff !important;
    background-color: #ffffff !important;
  }
  th:nth-child(1) {
    width: 10%;
  }

  td {
    text-align: center;
    padding: 8px;
    border-bottom: solid 1px #e3e3e3;
    border-top: solid 1px #e3e3e3;
  }

  td:nth-child(1) {
    width: 10%;
  }

  tr {
  height: 50px;
  border: solid 1px #e3e3e3;
  }

  tr:nth-child(odd){background-color: #f5f5f5;}
  tr:nth-child(even){background-color: rgba(246, 247, 249, 0.7);}

  .ui.button{
    background: #ffffff;
    border: solid 1px #dddddd;
    padding: 1em 1em;
    font-family: Kanit;
  }

  .ui.input {
    width: 120%;
  }

  .ui.input input{
    font-family: Kanit;
    margin-left: 5%;
  }

}
