.ViewAllPlan{
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }

  th {
    text-align: center;
    padding: 8px;
    border: solid 1px #ffffff !important;
    background-color: #ffffff !important;
  }

  td {
    text-align: center;
    padding: 8px;
    border-bottom: solid 1px #e3e3e3;
    border-top: solid 1px #e3e3e3;
  }

  tr {
  border: solid 1px #e3e3e3;
  }

  tr:nth-child(odd){background-color: #f5f5f5;}
  tr:nth-child(even){background-color: rgba(246, 247, 249, 0.7);}
}
