.ClaimStatusDetail{

  .MarginDiv{
    margin: 32px 0px;
  }

  .ClaimNumber{
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #4a4a4a;
  }

  .BodyDiv{
    widows: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 32px 0px;
  }
  .margin{
    margin: 8px 0px 2px 0px;
    padding: 20px 35px;
  }
  .HeadReason{
    font-family: Kanit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3a7bd5;
  }

  .Reasontext{
    font-family: Kanit;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #323028;
  }


  .Header{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: #3a7bd5;
    margin-left: 20px;
  }
  .Red{
    color: #d0011b;
  }
  .Blue{
    color: #3a7bd5;
  }
  .Green{
    color: #46b3b8;
  }
  .black{
    color: #323028;
  }

  .StatusImg{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;

    i.big.icon, i.big.icons {
      line-height: none;
      vertical-align: middle;
      font-size: 2em;
    }
  }

  .Headpic {
    width: 138px;
    height: 58px;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .DivImg{
    position: relative;
  }

  .Detail{
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.71;
    color: #323028;
    display: inherit;
  }

  .DivDetail{
    padding: 16px 0px;
  }

  .BackButton{
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #3a7bd5;
  }

  .DivBack{
    margin-top: 40px;
    text-align: center;
  }

}
