.InsuranceTemplate{
  .head{
    font-size: 18px;
    padding: 16px 0px 0px 16px;
    background-color: #ffffff;
  }
  .ui.fluid.dropdown {
      display: block;
      width: 100%;
      min-width: 0;
      height: 40px;
      margin-top: 7px;
      font-size: 15px;
  }
  .ui.fluid.dropdown.currency {
      display: block;
      width: 100%;
      min-width: 0;
      height: 38px;
      margin-top: 0px;
  }
  input[type=text], input[type=email],
   input[type=search], input[type=password]{
  border-style: none;
  }

  .ui.form .field .ui.input input,
  .ui.form .fields .field .ui.input input{
    padding-left: 5%;
  }
  


  .ui.modal{
    background: #ffffff;
    text-align: center;
    padding-top: 45px;
    height: 170px;
  }
  .ui.modal > .actions{
    background: #ffffff;
    border-top: none;
    text-align: center;
    padding:0px 20px;
  }
  body .ui.button{
    width: 65%;
  }

.Datebox{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #c4c4c4;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #34495e;
  padding: 3%;
  }
}
