@import url('https://fonts.googleapis.com/css?family=Kanit');

.select-plan-box{
  text-align: center;
  padding-top: 18%;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #4a4a4a;
}

.show-deadline-box{
  font-family: Kanit;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 16px;
  margin-bottom: 8px;
}

.link-change-plan{
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #3a7bd5;
  cursor:pointer;
}

.center-link{
  text-align: center;
  margin-bottom: 64px;
}

.select-plan-header-text {
  font-family: Kanit;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #505050;
}

.select-plan-image {
  width: 137px;
  height: 76px;
  object-fit: contain;
  margin-top: 8px;
  margin-bottom: 16px;
}
.select-plan-header-description {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    font-family: Kanit;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    text-align: center;
    color: #4a4a4a;
  }
}
.select-plan-change {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: #46b3b8;
  margin: 32.8px auto 12px;
  display: block;
}
.select-plan-view-plan {
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #3a7bd5;
  display: block;
  margin: 0 auto 32px;
}
.select-plan-header-modal {
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
  margin: 0 auto 16px;
  display: block;
}
.select-plan-btn-modal {
  text-align: center;
}
.select-plan-cancel-model {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f7555f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-right: 8px;
}
.select-plan-confirm-model {
  width: 100px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #3a7bd5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) and (min-width: 520px){
  .select-plan-box{
     padding-top: 7%;
  }

}
