@import url('https://fonts.googleapis.com/css?family=Kanit');

.dashboard-start{
  position: relative;
  .dashboard-start-box{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 64px;
    padding-top: 48%;
  }

  .text-dashboard-start {
    padding: 0;
    list-style: none;
    margin-top: 34px;
    li {
      font-family: Kanit;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-align: center;
      color: #4a4a4a;
    }
  }

  @media (max-width: 768px) and (min-width: 520px){
    .dashboard-start-box{
      padding-top: 15%;
    }
  }
}