.find-hospital{
  font-size: 12px;
  text-align: left;
  height: 100%;


}


.searchHospital{
  width: 100%;
  height: 40px;
  padding: 5px;

.ui.input{
  font-size: 1em;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 3px;
  box-shadow: none;
  background: transparent;
  line-height: 18px;
  font-family: Kanit;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: left;
  color: #000000;
  }
  input{
    font-family: kanit !important;
  }

}
