@import url('https://fonts.googleapis.com/css?family=Kanit');

.flexyPlan{
  font-family: 'Kanit', sans-serif;
  position: relative;
  .flexy-box{
    padding-left: 7%;
    padding-right: 7%;
  }

  .box-space{
    padding-left: 5px;
    padding-right: 5px;
  }

  .space-left-box{
    padding-left: 10px;
  }


  .slider{
    .slick-dots li button:before
    {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 28px;
      height: 4px;
      border-radius: 2px;
      background-color: #d8d8d8;
      opacity: inherit;
    }
    .slick-dots li.slick-active button:before {
      opacity: inherit;
      background-color: #ff3f6d;
    }

    .slick-dots li{
      margin-right: 11px;
    }
  }

  .flexy-plan-detail-box{
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .deadline-flexy-plan{
    padding-top: 8%;
    text-align: center;
  }
  .congrate-text-box {
    margin-bottom: 22px;
  }
  .congrate-text{
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    text-align: center;
    color: #4a4a4a;
    display: block;
  }

  .deadline-box{
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.2px;
    text-align: center;
    color: #4a4a4a;
  }

  .header-text-select-flexy-plan
  {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-top:8%;
    margin-bottom: 3%;
  }

  .button-submit-flexy-plan{
    width: 256px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    background-color: #3a7bd5;
    border-color: #3a7bd5;
    border-style: solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    margin: 32px auto;
    display: block;
  }

  .button-confirm-flexy-plan{
    width: 160px;
    height: 40px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 20px;
    background-color: #3a7bd5;
    border-color: #3a7bd5;
    border-style: solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  .flexy-plan-box{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(137, 137, 137, 0.5);
    background-color: #ffffff;
  }
  .head-flexy-plan-box {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .flexy-text-header {
    display: block;
    font-family: Kanit;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
    padding-top: 5px;
  }
  .flexy-image-info {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
  }
  .flexy-image-head {
    margin: 16px auto 0;
    width: 250.4px;
    height: 75px;
    display: block;
  }
  .body-flexy-plan-box {
    width: 100%;
    height: 40px;
    border-top: solid 1px #c4c4c4;
    border-radius: 0 0 3px 3px;
    background-color: #cddaed;
  }
  .flexy-text-body {
    font-family: Kanit;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #323028;
    line-height: 40px;
    padding-left: 32px;
  }
  .flexy-more-body {
    font-family: Kanit;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.2px;
    text-align: center;
    color: #5f5f5f;
    line-height: 40px;
  }
  .flexy-text-tail {
    padding: 0;
    list-style: none;
    margin-left: 33px;
    li:first-child {
      font-family: Kanit;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.83;
      letter-spacing: 0.2px;
      text-align: left;
      color: #323028;
    }
    li {
      font-family: Kanit;
      font-size: 11px;
      line-height: 1.55;
      letter-spacing: 0.3px;
      text-align: left;
      color: #323028;
    }
  }
  .tail-flexy-plan-box {
    padding-bottom: 16px;
  }
  .flexy-modal-cancel-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7555f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  .flexy-modal-confirm-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #3a7bd5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  @media (max-width: 768px) and (min-width: 520px){
    .flexy-plan-detail-box{
    padding-top: 3%;
    }
    .box-space{
    padding-left: 10px;
    padding-right: 10px;
  }

  }
}
.flexy-modal-cancel-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #f7555f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-right: 8px;
}
.flexy-modal-confirm-btn {
  width: 100px;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #3a7bd5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.flexy-header-confirm {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #4a4a4a;
}
.flexy-text-confirm {
  font-size: 12px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
}
.date-deadline-box{
  width: 100%;
  height: 70px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: solid 1px #919396;
  border-right: solid 1px rgba(145, 147, 150, 0.45);
  text-align: center;
}
.hour-deadline-box{
  width: 100%;
  height: 70px;
  border-top: solid 1px #919396;
  border-bottom: solid 1px #919396;
  border-right: none;
  border-left: none;
  text-align: center;
}
.second-deadline-box{
  width: 100%;
  height: 70px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: solid 1px #919396;
  border-left: solid 1px rgba(145, 147, 150, 0.45);
  text-align: center;
}
.deadline-number{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #ff3f6d;
  padding-top: 5%;
}
.deadline-text{
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #323028;
}
.fixplan-next-year {
  font-family: Kanit;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4a4a4a;
}
.box-box {
  margin-top: 70.8px;
}
ul.slick-dots {
  display: flex !important;
  position: absolute;
  top: 0;
  list-style: none;
  margin: 22.8px auto 8px auto;
  height: 40px;
  width: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  li {
    width: 50%;
    border: solid 1px #c4c4c4;
    margin: 0px !important;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-family: Kanit;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #919396;
  }
  li.slick-active {
    color: #ffffff;
    background-color: #3a7bd5;
  }
  li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.flexy-btn-ny-select-plan {
  width: 256px;
  height: 40px;
  border-radius: 20px;
  background-color: #46b3b8;
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  line-height: 21px;
  border: none;
  display: block;
  margin: 22.8px auto 8px auto;
}
.button-skip-flexy-plan {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #f7555f;
  font-family: Kanit;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  line-height: 21px;
  border: none;
  display: block;
  margin: auto;
}
.slick-prev, .slick-next {
  position: unset !important;
  display: none !important;
}
.flexyplan-btn-slider-page {
  width: 100%;
  height: auto;
  display: inline-block;
}